.footer {
    position: fixed;
    text-align: center;
    bottom: 5%;
    left: 5%;
    display: inline-block;
    cursor: pointer;
    width: 8rem;
    padding: 0.675rem 0;
    /* padding: 12px; */
    border-radius: .5rem;
    background-color:#3f51b5;
    color: white;
  }
/* 
  #42A5F5 */