.Rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.Revi{
    align-self: center;
    padding:20px;
    width: 50%;
    border-top: 10px;
}
.Reviewbox{
    padding:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    align-self: flex-end;

    cursor: pointer;
    width: 3rem;
    padding: 0.175rem 0;
    /* padding: 12px; */

}